* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 12px;
  color: #7FB3FF;
  border: none;
}

window#waybar {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #7FB3FF;
  border-radius: 10px;
  box-shadow: 0 0 10px #7FB3FF;
  padding: 3px;
}

#workspaces button {
  border: 1px solid #7FB3FF;
  margin: 0 3px;
  padding: 0 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  color: #E0E8F0;
}

#clock, #cpu, #memory, #network, #pulseaudio, #custom-logo {
  padding: 0 6px;
  margin: 0 2px;
  background: rgba(40, 60, 80, 0.3);
  border-radius: 5px;
  border: 1px solid #7FB3FF;
}
#bluetooth {
  padding: 0 6px;
  margin: 0 2px;
  background: rgba(40, 60, 80, 0.3);
  border-radius: 5px;
  border: 1px solid #7FB3FF;
}
#workspaces button {
  border: 1px solid #7FB3FF;
  margin: 0 3px;
  padding: 0 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  color: #E0E8F0;
}
